.plan-card {
    background: #fff;
    width: 15rem;
    padding-bottom: 9rem;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(207, 212, 222, 0.3);
    font-family: "Poppins", sans-serif;
    position: relative;
  }
  .card-img{
    width: 15rem;
    height: 7.23rem;
    background: #000;
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
  }
  .card-img img {
    width: 100%;
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
  }
  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
  }
  
  .plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
  }
  
  .etiquet-price {
    position: relative;
    background: #fdbd4a;
    width: 5rem;
    margin-left: -0.65rem;
    padding: 0.1rem 1.2rem;
    border-radius: 5px 0 0 5px;
    top: -6rem;
    left: 11.5rem;
  }
  
  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 13px solid #0094af;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }
  
  .benefits-list {
    position: relative;
  }
  .duration_timer{
    font-size: 10px;
  }