.plan-card {
    background: #fff;
    width: 15rem;
    /* padding-bottom: 9rem; */
    border-radius: .3rem;
    box-shadow: 0 10px 40px rgba(207, 212, 222, 0.3);
    font-family: "Poppins", sans-serif;
    position: relative;
  }
  .card-img{
    width: 12rem !important;
    height: 185px;

    /* background: #000; */
    border-top-left-radius: .3rem;
    border-top-right-radius: 1rem;
  }
  .card-img img {
    width: 100%;
    height: 100%;
  }
  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
  }
  
  .plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
  }
  
  .etiquet-price {
    position: relative;
    background: #fdbd4a;
    width: 5rem;
    margin-left: -0.65rem;
    padding: 0.1rem 1.2rem;
    border-radius: 5px 0 0 5px;
    top: -6rem;
    left: 11.5rem;
  }
  
  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 13px solid #0094af;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }
  
  .benefits-list {
    position: relative;
  }
  .duration_timer{
    font-size: 10px;
  }
  .item_details{
    
  }
  
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box span::before {
    content: '+Premium';
    position: absolute;
    width: 150%;
    height: 30px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
    font-size: .8em;
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }
span.price_tag{
    color: #F58020;
}

section{
    background-color: #f8f9fa;
}
footer{
    background-color: #1e2020!important;
    border-top: 2px solid #F58020;
}
footer p{
    font-size: .9em;
}



  @media screen and (max-width: 480px){
    .benefits-list h5{
        white-space: wrap !important;
      }
      .plan-card .card-img{
        width: 150px !important;
        /* height: 1rem !important; */
    }
  }
  @media screen and (max-width: 540px){
    .plan-card .card-img{
        height: 6rem;
    }

  }
  @media screen and (min-width: 992px){
    .card-img{
        width: 15rem !important;
    }    
  }
  @media screen and (max-width: 992px) {
    .plan-card{
        padding: 0 0 0 0;
        width: 100%;
    }
    .plan-card .card-img {
        display: flex;
        /* width: 20rem; */
        /* height: 9rem !important; */
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .benefits-list h5{
        white-space: nowrap;
      }
  }